<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sticky Notes{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}"> <!-- Include your custom CSS -->
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <!-- Your header content goes here -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Sticky Notes</a>
                <!-- You can add additional navigation links here if needed -->
            </div>
        </nav>
    </header>

    <main role="main" class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">© 2024 Sticky Notes</span>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery (Optional for Bootstrap JavaScript components) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>
